.errorMain {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .errorOops {
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: 102px;
    display: flex;
    margin: 5px;
  }
  .errorPNF {
    display: flex;
    margin-top: 50px;
    font-weight: bold;
    font-size: 25px;
  }
  .homePage {
    box-sizing: border-box;
    background: linear-gradient(180deg, #407BFE 0%, #3943B3 100%);
    /* inverse */
    width: 193px;
    height: 46px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 6px 1px rgba(87, 123, 215, 0.21);
    border-radius: 40px;
    justify-content: center;
  }
  .homePage {
    font-size: 20px;
    color: white;
  }
  